body {
    background-color:peachpuff;
}

img {
    border-radius: 50%;
    width: 50%;
    height: 25%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}

#header {
  color:chocolate;
  margin:5px 500px;
  text-align: center;
  border-width: 2px;
  border-style:solid;
  border-radius:20%;
}

#list {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 15px;
  margin-left: 35%;
}

#navlinks {
  position: fixed;
}

#footer {
  color:blueviolet;
  text-align:center;
  margin:0px -10px;
  border-width: 40px;
  border-style:solid;
  background-color:black;
}